{% extends 'base.html' %}
{% block title %}Тестирование{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Больше тестов - больше знаний!</h4>
        </div>
        <div class="modal-body">

        <div class="col-5" id="name_complect">
            <div class="input-group">
              <label class="input-group-text">Набор: </label>
              <select
                class="form-select"
                name="inspection_result"
                id="select_group"
                required
              ></select>
            </div>
            <p></p>
            <p></p>
        </div>
        
        <div class="col-5" id="name_complect">
          <div class="input-group">
            <label class="input-group-text">Тест: </label>
            <select
              class="form-select"
              name="inspection_result"
              id="select_test"
              required
            ></select>
          </div>
          <p></p>
          <p></p>
        </div>

        <div class="col-6">
            <button type="button" class="btn btn-primary" id="StartTestButton">
              Пройти тест
            </button>
            <p></p>
          </div>

        <div class="col-5" id="name_complect">
            <h4 class="modal-title">Результаты теста:</h4>
        </div>

        <div class="col-5" id="name_complect">
          <label class="input-group-text">Всего вопросов: </label>
          <input class="form-control" id="input_number_questions" style="text-align:center">
        </div>

        <div class="col-5" id="name_complect">
          <label class="input-group-text">Правильных ответов: </label>
          <input class="form-control" id="input_success_questions" style="text-align:center">
        </div>

        <div class="col-5" id="name_complect">
          <label class="input-group-text">Процент правильных ответов: </label>
          <input class="form-control" id="input_persent" style="text-align:center">
        </div>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
    

  

  <!-- Модальное окно -->
  <div class="modal" id="TestModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="test-title">ТЕСТ</h5>
        </div>
        <div class="modal-body">
          
          <div id="date">
            <div class="input-group input-group-sm mb-3">
              <label class="input-group-text" style="font-size: 18px" id="label-question">Вопрос:</label>
              <textarea class="form-control" style="font-size: 18px" id="input_super" disabled="true"></textarea>
            </div>
          </div>

          <div class="container" id="answer_container"></div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            id="TestOkButton"
          >
            Ответить
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Модальное окно -->
  <div class="modal" id="StatTaskModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-create-norm-title"></h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Закрыть"
            id="StatTaskClose1"
          ></button>
        </div>
        <div class="modal-body">
          <div id="date">
            <div class="input-group input-group-sm mb-3">
              <label class="input-group-text">Сообщений всего: </label>
              <input
                class="form-control"
                type="number"
                id="input_all_mes"
                disabled='true'
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div id="date">
            <div class="input-group input-group-sm mb-3">
              <label class="input-group-text">Сообщений отправлено: </label>
              <input
                class="form-control"
                type="number"
                id="input_suc_mes"
                disabled='true'
                required
              />
            </div>
          </div>
        </div>
        <div class="modal-body">
        <table class="table" id="list_phones">
          <thead>
          <tr>
              <th scope="col">Телефон</th>
              <th scope="col">Статус</th>
          </tr>
          </thead>
      </table>
    </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            id="StatTaskClose2"
          >
            Закрыть
          </button>
        </div>
      </div>
    </div>
  </div>
  {% else %}
    <p></p>
    <p></p>
    <h4 class="modal-title">Войдите или зарегистрируйтесь</h4>
{% endif %}


{% endblock %} 

